<div class="notification-edit">
  <h1>Edit Notification Details</h1>

  <div class="notification-details">
    <h2>Notification Details</h2>
    <form class="details-form">
      <div class="form-group">
        <label for="serviceType">Service Type</label>
        <input type="text" id="serviceType" [(ngModel)]="notification.serviceType" (ngModelChange)="onEdit()" name="serviceType">
      </div>
      <div class="form-group">
        <label for="eventTrigger">Event Trigger</label>
        <input type="text" id="eventTrigger" [(ngModel)]="notification.eventTrigger" (ngModelChange)="onEdit()" name="eventTrigger">
      </div>
      <div class="form-group">
        <label for="party">Party</label>
        <input type="text" id="party" [(ngModel)]="notification.party" (ngModelChange)="onEdit()" name="party">
      </div>
      <div class="form-group">
        <label for="createdOn">Created On</label>
        <input type="text" id="createdOn" [(ngModel)]="notification.createdOn" name="createdOn" readonly>
      </div>
      <div class="form-group">
        <label for="channel">Channel</label>
        <input type="text" id="channel" [(ngModel)]="notification.channel" (ngModelChange)="onEdit()" name="channel">
      </div>
    </form>
  </div>

  <!-- <div class="search-parameters">
    <h2>Search Parameter</h2>
    <div class="dropdown">
      <input type="text" id="search" [(ngModel)]="search" name="search" placeholder="Search..." (focus)="showOptions()" (blur)="hideOptions()" (input)="filterOptions($event)" />
      <ul *ngIf="showParameterOptions && filteredParameters.length > 0" class="dropdown-menu">
        <li *ngFor="let param of filteredParameters" (click)="selectOption(param)">{{ param }}</li>
      </ul>
    </div>
  </div> -->

  <div class="search-parameters">
    <h2>Search Parameter</h2>
    <div class="dropdown">
      <input 
        type="text" 
        id="search" 
        [(ngModel)]="search" 
        name="search" 
        placeholder="Search..." 
        (focus)="showOptions()" 
        (input)="filterOptions($event)" 
      />
      <ul *ngIf="showParameterOptions && filteredParameters.length > 0" class="dropdown-menu">
        <li *ngFor="let param of filteredParameters" (mousedown)="selectOption(param)">
          {{ param }}
        </li>
      </ul>
    </div>
  </div>


  <div class="languages-texts">
    <h2>Languages and Texts</h2>
    <div *ngFor="let item of languagesTexts" class="language-text">
      <div class="form-group">
        <label>Language:</label>
        <input type="text" [(ngModel)]="item.language" (ngModelChange)="onEdit()">
      </div>
      <div class="form-group">
        <label>Header:</label>
        <input type="text" [(ngModel)]="item.header" (ngModelChange)="onEdit()">
      </div>
      <div class="form-group">
        <label>Text:</label>
        <textarea [(ngModel)]="item.text" (ngModelChange)="onEdit()"></textarea>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button class="cancel-button" (click)="cancel()">Cancel</button>
    <button class="next-button" [disabled]="!isEdited" (click)="next()">Next</button>
  </div>
</div>
