/* .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px;
    margin: 0 10px;
    border: none;
    background-color: #ff4081;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
  }
   */

   .paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .paginator button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }
  
  .paginator button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .paginator button.active {
    background-color: #ff4081;
  }
  