   <div class="pagination-container">
    <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
    <ng-container *ngFor="let page of pages">
      <button 
        *ngIf="shouldShowPage(page)" 
        (click)="setPage(page)" 
        [class.active]="page === currentPage">
        {{ page }}
        
      </button>
    </ng-container>
  
    <!-- <span *ngIf="showEllipsis()">...</span> -->
  
    <!-- <button 
      *ngIf="totalPages > 5 && currentPage < totalPages - 2" 
      (click)="setPage(totalPages)" 
      [class.active]="totalPages === currentPage">
      {{ totalPages }}
    </button> -->
  
    <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">&gt;</button>
    <span>
        <strong>
            Go to page:
        </strong>
    </span>
    <select (change)="onPageSelect($event)" [value]="currentPage">
      <option *ngFor="let page of pages" [value]="page">{{ page }}</option>
    </select>
  </div>
  

  