.review-confirm {
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f7f7f7;
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .notification-details, .languages-texts {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
  }
  
  .detail-item {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .label {
    font-weight: bold;
    color: #666;
  }
  
  .value {
    color: #333;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .cancel-button, .back-button, .confirm-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #333;
  }
  
  .back-button {
    background-color: #fbc9da;
    color: white;
  }
  
  .confirm-button {
    background-color: #ff4081;
    color: white;
  }
  
  .cancel-button:hover {
    background-color: #bbb;
  }
  
  .back-button:hover {
    background-color: #f4c5d4;
  }
  
  .confirm-button:hover {
    background-color: #e73370;
  }
  