<!-- <div class="notification-management">
    <div class="header">
      <h1>Notification Management</h1>
      <button class="create-new" (click)="navigateToCreate()">Create New</button>
    </div>
  </div>
   -->

   <!-- <div class="notification-management">
    <div class="header">
      <h1>Notification Management</h1>
      <button class="create-new" (click)="navigateToCreate()">Create New</button>
    </div>
  </div> -->

  <!-- <div class="notification-management">
    <div class="header">
      <h1>Notification Management</h1>
      <button class="create-new" (click)="navigateToCreate()">Create New</button>
    </div>
    <div class="filter">
      <img src="https://i.ibb.co/XzgSC4y/Icon-awesome-filter.png" alt="Icon-awesome-filter" (click)="toggleFilterPrompt()" class="filter-icon">
      <div class="filter-dropdown" *ngIf="isFilterPromptVisible">
        <app-filter-prompt (close)="toggleFilterPrompt()"></app-filter-prompt>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>SERVICE TYPE</th>
          <th>EVENT TRIGGER</th>
          <th>PARTY</th>
          <th>CREATED ON <span>&uarr;&darr;</span></th>
          <th>CREATED BY <span>&uarr;&darr;</span></th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
  
   -->

   <!-- <div class="notification-management">
    <div class="header">
      <h1>Notification Management</h1>
      <button class="create-new" (click)="navigateToCreate()">Create New</button>
    </div>
    <div class="filter">
      <img src="https://i.ibb.co/XzgSC4y/Icon-awesome-filter.png" alt="Icon-awesome-filter" (click)="toggleFilterPrompt()" class="filter-icon">
      <div class="filter-dropdown" *ngIf="isFilterPromptVisible">
        <app-filter-prompt (close)="toggleFilterPrompt()"></app-filter-prompt>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>SERVICE TYPE</th>
          <th>EVENT TRIGGER</th>
          <th>PARTY</th>
          <th>CREATED ON <span>&uarr;&darr;</span></th>
          <th>CREATED BY <span>&uarr;&darr;</span></th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
   -->

   <!-- <div class="notification-management">
    <div class="header">
      <h1>Notification Management</h1> -->
      <!-- <button class="create-new" (click)="navigateToCreate()">Create New</button> -->
      <!-- <button class="create-new" (click)="navigateTo('create-notification')">Create New</button>
    </div>
    <div class="filter">
      <img src="https://i.ibb.co/XzgSC4y/Icon-awesome-filter.png" alt="Icon-awesome-filter" (click)="toggleFilterPrompt()" class="filter-icon">
      <div class="filter-dropdown" *ngIf="isFilterPromptVisible">
        <app-filter-prompt (close)="toggleFilterPrompt()"></app-filter-prompt>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>SERVICE TYPE</th>
          <th>EVENT TRIGGER</th>
          <th>PARTY</th>
          <th>CREATED ON <span>&uarr;&darr;</span></th>
          <th>CREATED BY <span>&uarr;&darr;</span></th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
   -->

   <div class="notification-management">
    <div class="header">
      <h1>Notification Management</h1>
      <button class="create-new" (click)="navigateTo('create-notification')">Create New</button>
    </div>
    <div class="filter">
      <img src="https://i.ibb.co/XzgSC4y/Icon-awesome-filter.png" alt="Icon-awesome-filter" (click)="toggleFilterPrompt()" class="filter-icon">
      <div class="filter-dropdown" *ngIf="isFilterPromptVisible">
        <app-filter-prompt (close)="toggleFilterPrompt()"></app-filter-prompt>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>SERVICE TYPE</th>
          <th>EVENT TRIGGER</th>
          <th>PARTY</th>
          <th>CREATED ON <span>&uarr;&darr;</span></th>
          <th>CREATED BY <span>&uarr;&darr;</span></th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <!-- Table rows should be dynamically generated here -->
      </tbody>
    </table>
  </div>
  