.create-notification {
  padding: 20px;
}

.notification-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.notification-details-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  height: 314px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul li {
  padding: 10px;
  cursor: pointer;
}

ul li:hover {
  background-color: #eee;
}

.parameter-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.parameter-header, .parameter-row {
  display: flex;
}

.parameter-column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.cancel-btn {
  background-color: #ebe9e9;
  color: #727270;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-family: Nunito Sans;
  width: 185px;
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.46px;
  margin-right: 20px; 
}

.next-btn {
  background-color: #fab7c1;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-family: Nunito Sans;
  width: 185px;
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.46px;
}

.next-btn.enabled {
  background-color: #fd5b83;
}

.condition-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.condition-group .form-group {
  flex: 1;
}

.condition-group .delete-condition,
.condition-group .add-condition {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.condition-group .or-condition {
  display: none;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.condition-group .or-condition.visible {
  display: inline-block;
}
