   <!-- <div class="create-notification">
    <h2>Notification Management > Create New</h2>
    <div class="notification-details">
      <h3>Notification Details</h3>
      <form>
        <div class="form-group">
          <label for="serviceType">Service Type</label>
          <select id="serviceType" [(ngModel)]="selectedServiceType" (change)="onServiceTypeChange($event)">
            <option>Service Type</option>
            <option>Send Money</option>
            <option>Cash - In</option>
            <option>Add Money</option>
            <option>Transfer To Bank</option>
            <option>Recharge</option>
            <option>Bill Pay</option>
            <option>Request Money</option>
          </select>
        </div>
        <div class="form-group">
          <label for="eventTrigger">Event Trigger</label>
          <select id="eventTrigger">
            <option>Success</option>
            <option>Failed</option>
          </select>
        </div>
        <div class="form-group">
          <label for="party">Party</label>
          <select id="party">
            <option>Sender</option>
            <option>Receiver</option>
          </select>
        </div>
        <div class="form-group">
          <label for="condition">Condition</label>
          <button type="button" id="condition">Add New Condition</button>
        </div>
      </form>
  
      <div *ngIf="!isServiceTypeSelected">
        <h3>Notification Details</h3>
        <div class="notification-details-img">
          <div class="img-nd">
            <img src="https://i.ibb.co/Hq8zFmM/Group-1517.png" alt="Group-1517">
          </div>
          <p>Channel preferences will appear here</p>
        </div>
      </div>
  
      <div *ngIf="isServiceTypeSelected">
        <h3>Search Parameters</h3>
        <div class="search-parameters">
          <input type="text" placeholder="Search..." class="search-box">
        </div>
        <table class="parameter-table">
          <thead>
            <tr>
              <th>CHANNEL</th>
              <th>LANGUAGE</th>
              <th>HEADER</th>
              <th>BODY</th>
              <th>ATTACHABLE</th>
              <th>DOCUMENTS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let param of searchParameters">
              <td>{{param.channel}}</td>
              <td>{{param.language}}</td>
              <td>{{param.header}}</td>
              <td>{{param.body}}</td>
              <td>{{param.attachable}}</td>
              <td>{{param.documents}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="buttons">
        <button type="button" class="cancel-btn">CANCEL</button>
        <button type="button" class="next-btn">NEXT</button>
      </div>
    </div>
  </div>
   -->

   <!-- <div class="create-notification">
    <h2>Notification Management > Create New</h2>
    <div class="notification-details">
      <h3>Notification Details</h3>
      <form>
        <div class="form-group">
          <label for="serviceType">Service Type</label>
          <select id="serviceType" [(ngModel)]="selectedServiceType" (change)="onServiceTypeChange($event)">
            <option>Send Money</option>
            <option>Cash - In</option>
            <option>Add Money</option>
            <option>Transfer To Bank</option>
            <option>Recharge</option>
            <option>Bill Pay</option>
            <option>Request Money</option>
          </select>
        </div>
        <div class="form-group">
          <label for="eventTrigger">Event Trigger</label>
          <select id="eventTrigger">
            <option>Success</option>
            <option>Failed</option>
          </select>
        </div>
        <div class="form-group">
          <label for="party">Party</label>
          <select id="party">
            <option>Sender</option>
            <option>Receiver</option>
          </select>
        </div>
        <div class="form-group">
          <label for="condition">Condition</label>
          <button type="button" id="condition">Add New Condition</button>
        </div>
      </form>
  
      <div *ngIf="!isServiceTypeSelected">
        <h3>Notification Details</h3>
        <div class="notification-details-img">
          <div class="img-nd">
            <img src="https://i.ibb.co/Hq8zFmM/Group-1517.png" alt="Group-1517">
          </div>
          <p>Channel preferences will appear here</p>
        </div>
      </div>
  
      <div *ngIf="isServiceTypeSelected">
        <h3>Search Parameters</h3>
        <div class="search-parameters">
          <input type="text" placeholder="Search..." class="search-box">
        </div>
        <div class="parameter-table">
          <div class="parameter-header">
            <div class="parameter-column">CHANNEL</div>
            <div class="parameter-column">LANGUAGE</div>
            <div class="parameter-column">HEADER</div>
            <div class="parameter-column">BODY</div>
            <div class="parameter-column">ATTACHABLE</div>
            <div class="parameter-column">DOCUMENTS</div>
          </div>
          <div class="parameter-row" *ngFor="let param of searchParameters">
            <div class="parameter-column">{{param.channel}}</div>
            <div class="parameter-column"><input type="text" [(ngModel)]="param.language"></div>
            <div class="parameter-column"><input type="text" [(ngModel)]="param.header"></div>
            <div class="parameter-column"><input type="text" [(ngModel)]="param.body"></div>
            <div class="parameter-column"><input type="text" [(ngModel)]="param.attachable"></div>
            <div class="parameter-column">
              <select [(ngModel)]="param.documents">
                <option *ngFor="let doc of documents">{{doc}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
  
      <div class="buttons">
        <button type="button" class="cancel-btn">CANCEL</button>
        <button type="button" class="next-btn">NEXT</button>
      </div>
    </div>
  </div>
   -->

   <!-- <div class="create-notification">
    <h2>Notification Management > Create New</h2>
    <div class="notification-details">
      <h3>Notification Details</h3>
      <form>
        <div class="form-group">
          <label for="serviceType">Service Type</label>
          <select id="serviceType" [(ngModel)]="selectedServiceType" (change)="onServiceTypeChange($event)">
            <option>Send Money</option>
            <option>Cash - In</option>
            <option>Add Money</option>
            <option>Transfer To Bank</option>
            <option>Recharge</option>
            <option>Bill Pay</option>
            <option>Request Money</option>
          </select>
        </div>
        <div class="form-group">
          <label for="eventTrigger">Event Trigger</label>
          <select id="eventTrigger">
            <option>Success</option>
            <option>Failed</option>
          </select>
        </div>
        <div class="form-group">
          <label for="party">Party</label>
          <select id="party">
            <option>Sender</option>
            <option>Receiver</option>
          </select>
        </div>
        <div class="form-group">
          <label for="condition">Condition</label>
          <button type="button" id="condition">Add New Condition</button>
        </div>
      </form>
  
      <div *ngIf="!isServiceTypeSelected">
        <h3>Notification Details</h3>
        <div class="notification-details-img">
          <div class="img-nd">
            <img src="https://i.ibb.co/Hq8zFmM/Group-1517.png" alt="Group-1517">
          </div>
          <p>Channel preferences will appear here</p>
        </div>
      </div>
  
      <div *ngIf="isServiceTypeSelected">
        <h3>Search Parameters</h3>
        <div class="search-parameters">
          <input type="text" placeholder="Search..." class="search-box">
        </div>
        <div class="parameter-table">
          <div class="parameter-header">
            <div class="parameter-column">CHANNEL</div>
            <div class="parameter-column">LANGUAGE</div>
            <div class="parameter-column">HEADER</div>
            <div class="parameter-column">BODY</div>
            <div class="parameter-column">ATTACHABLE</div>
            <div class="parameter-column">DOCUMENTS</div>
          </div>
  
          <div class="parameter-row" *ngFor="let param of searchParameters">
            <div class="parameter-column">{{param.channel}}</div>
            <div class="parameter-column"><input type="text" [(ngModel)]="param.language"></div>
            <div class="parameter-column"><input type="text" [(ngModel)]="param.header"></div>
            <div class="parameter-column"><input type="text" [(ngModel)]="param.body"></div>
            <div class="parameter-column"><input type="text" [(ngModel)]="param.attachable"></div>
            <div class="parameter-column">
              <select [(ngModel)]="param.documents">
                <option *ngFor="let doc of documents">{{doc}}</option>
              </select>
            </div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">In-App Notification</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"><input type="text" value="0/70"></div>
            <div class="parameter-column"><input type="text" value="0/160"></div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"><input type="text" value="0/70"></div>
            <div class="parameter-column"><input type="text" value="0/160"></div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">SMS</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"><input type="text" value="0/160"></div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"><input type="text" value="0/160"></div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">Email</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"><select><option>Select document</option></select></div>
            <div class="parameter-column"><input type="text" value="0/70"></div>
            <div class="parameter-column"><input type="text" value="0/160"></div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"><input type="text" value="0/70"></div>
            <div class="parameter-column"><input type="text" value="0/160"></div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">URL</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"><input type="text" value="0/70"></div>
            <div class="parameter-column"><input type="text" value="0/160"></div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"><input type="text" value="0/70"></div>
            <div class="parameter-column"><input type="text" value="0/160"></div>
          </div>
        </div>
      </div>
  
      <div class="buttons">
        <button type="button" class="cancel-btn">CANCEL</button>
        <button type="button" class="next-btn">NEXT</button>
      </div>
    </div>
  </div>
   -->


   <!-- <div class="create-notification">
    <h2>Notification Management > Create New</h2>
    <div class="notification-details">
      <h3>Notification Details</h3>
      <form>
        <div class="form-group">
          <label for="serviceType">Service Type</label>
          <select id="serviceType" [(ngModel)]="selectedServiceType" (change)="onServiceTypeChange($event)">
            <option>Send Money</option>
            <option>Cash - In</option>
            <option>Add Money</option>
            <option>Transfer To Bank</option>
            <option>Recharge</option>
            <option>Bill Pay</option>
            <option>Request Money</option>
          </select>
        </div>
        <div class="form-group">
          <label for="eventTrigger">Event Trigger</label>
          <select id="eventTrigger">
            <option>Success</option>
            <option>Failed</option>
          </select>
        </div>
        <div class="form-group">
          <label for="party">Party</label>
          <select id="party">
            <option>Sender</option>
            <option>Receiver</option>
          </select>
        </div>
        <div class="form-group">
          <label for="condition">Condition</label>
          <button type="button" id="condition">Add New Condition</button>
        </div>
      </form>
  
      <div *ngIf="!isServiceTypeSelected">
        <h3>Notification Details</h3>
        <div class="notification-details-img">
          <div class="img-nd">
            <img src="https://i.ibb.co/Hq8zFmM/Group-1517.png" alt="Group-1517">
          </div>
          <p>Channel preferences will appear here</p>
        </div>
      </div>
  
      <div *ngIf="isServiceTypeSelected">
        <h3>Search Parameters</h3>
        <div class="search-parameters">
          <input type="text" placeholder="Search..." class="search-box">
        </div>
        <div class="parameter-table">
          <div class="parameter-header">
            <div class="parameter-column">CHANNEL</div>
            <div class="parameter-column">LANGUAGE</div>
            <div class="parameter-column">HEADER</div>
            <div class="parameter-column">BODY</div>
            <div class="parameter-column">ATTACHABLE</div>
            <div class="parameter-column">DOCUMENTS</div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">In-App Notification</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"></div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"></div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">SMS</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"></div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"></div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">Email</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"><select><option>Select document</option></select></div>
            <div class="parameter-column"></div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"></div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">URL</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"></div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column"></div>
            <div class="parameter-column"></div>
          </div>
        </div>
      </div>
  
      <div class="buttons">
        <button type="button" class="cancel-btn">CANCEL</button>
        <button type="button" class="next-btn">NEXT</button>
      </div>
    </div>
  </div>
   -->

   <div class="create-notification">
    <h2>Notification Management > Create New</h2>
    <div class="notification-details">
      <h3>Notification Details</h3>
      <form>
        <div class="form-group">
          <label for="serviceType">Service Type</label>
          <select id="serviceType" [(ngModel)]="selectedServiceType" (change)="onServiceTypeChange($event)">
            <option>Service Type</option>
            <option>Send Money</option>
            <option>Cash - In</option>
            <option>Add Money</option>
            <option>Transfer To Bank</option>
            <option>Recharge</option>
            <option>Bill Pay</option>
            <option>Request Money</option>
          </select>
        </div>
        <div class="form-group">
          <label for="eventTrigger">Event Trigger</label>
          <select id="eventTrigger">
            <option>Success</option>
            <option>Failed</option>
          </select>
        </div>
        <div class="form-group">
          <label for="party">Party</label>
          <select id="party">
            <option>Sender</option>
            <option>Receiver</option>
          </select>
        </div>
        <div class="form-group">
          <label for="condition">Condition</label>
          <button type="button" id="condition">Add New Condition</button>
        </div>
      </form>
  
      <div *ngIf="!isServiceTypeSelected">
        <h3>Notification Details</h3>
        <div class="notification-details-img">
          <div class="img-nd">
            <img src="https://i.ibb.co/Hq8zFmM/Group-1517.png" alt="Group-1517">
          </div>
          <p>Channel preferences will appear here</p>
        </div>
      </div>
  
      <div *ngIf="isServiceTypeSelected">
        <h3>Search Parameters</h3>
        <div class="search-parameters">
          <input type="text" placeholder="Search..." class="search-box">
        </div>
        <div class="parameter-table">
          <div class="parameter-header">
            <div class="parameter-column">CHANNEL</div>
            <div class="parameter-column">LANGUAGE</div>
            <div class="parameter-column">HEADER</div>
            <div class="parameter-column">BODY</div>
            <div class="parameter-column">ATTACHABLE DOCUMENTS</div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">In-App Notification</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column">
            </div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column">
            </div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">SMS</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="-"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column">
            </div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="E-"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column">
            </div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">Email</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column">
              <select><option>Select document</option></select>
            </div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column">
            </div>
          </div>
  
          <div class="parameter-row">
            <div class="parameter-column">URL</div>
            <div class="parameter-column"><input type="text" value="English"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column">
            </div>
          </div>
          <div class="parameter-row">
            <div class="parameter-column"></div>
            <div class="parameter-column"><input type="text" value="Arabic"></div>
            <div class="parameter-column"><input type="text" value="Enter message header"></div>
            <div class="parameter-column"><input type="text" value="Enter message body"></div>
            <div class="parameter-column">

            </div>
          </div>
        </div>
      </div>
  
      <div class="buttons">
        <button type="button" class="cancel-btn">CANCEL</button>
        <button type="button" class="next-btn">NEXT</button>
      </div>
    </div>
  </div>
  