   .create-notification {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .create-notification h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .notification-details h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group select,
  .form-group button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #e53935;
  }
  