  .create-notification {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .create-notification h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .notification-details h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
    color: #707070;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  .form-group select:focus {
    outline: none;
    border-color: #aaa;
  }
  
  .form-group option {
    padding: 10px;
  }
  
  .notification-details-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    height: 314px;
  }
  
  .img-nd {
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
  }
  
  .notification-details-img p {
    margin: 0;
    font-size: 14px;
    color: #BBBBBB;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 835px;
  }
  
  .cancel-btn {
    background-color: #ebe9e9;
    color: #727270;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-family: Nunito Sans;
    width: 185px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20.46px;
    margin-right: 20px; /* Added for spacing */
  }
  
  .next-btn {
    background-color: #e7a6b0;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-family: Nunito Sans;
    width: 185px;
    height: 50px;
    opacity: 0.3;
    font-size: 15px;
    font-weight: 700;
    line-height: 20.46px;
  }
  