@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/nunito-sans/NunitoSans-Regular.woff2') format('woff2'),
       url('/assets/fonts/nunito-sans/NunitoSans-Regular.woff') format('woff'),
       url('/assets/fonts/nunito-sans/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/nunito-sans/NunitoSans-Bold.woff2') format('woff2'),
       url('/assets/fonts/nunito-sans/NunitoSans-Bold.woff') format('woff'),
       url('/assets/fonts/nunito-sans/NunitoSans-Bold.ttf') format('truetype');
}

body {
  font-family: 'Nunito Sans', sans-serif;
}
