/* .bulk-notifications {
    padding: 20px;
  }
   */

   .bulk-notifications {
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  