     .bulk-notifications {
      padding: 20px;
    }
    
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .tabs {
      display: flex;
      margin-bottom: 20px;
    }
    
    .tab {
      padding: 10px 20px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }
    
    .tab.active {
      border-bottom: 2px solid #ff4081;
      font-weight: bold;
    }
    
    .controls {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    
    .filter-button{
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      /* background-color: #ff4081; */
      color: white;
      margin-right: 10px;
    }

    /* .create-button {
      padding: 10px 20px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      background-color: #ff4081;
      color: white;
      margin-right: 10px;
    } */

    .create-button {
      background-color: #ff4081;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 50px;
      font-family: Nunito Sans;
      width: 185px;
      height: 50px;
      font-size: 15px;
      font-weight: 700;
      line-height: 20.46px;
    }
    
    /* .filter-button:hover,*/

    .create-button:hover {
      background-color: #e73370;
    } 
    
    .search-box {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 720px;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      padding: 10px;
      border: 1px solid #ddd;
    }
    
    th {
      background-color: #f2f2f2;
      cursor: pointer;
    }
    
    th:hover {
      background-color: #e2e2e2;
    }
    
    .action-button {
      padding: 5px;
      margin: 0 5px;
      cursor: pointer;
      border: none;
      background: none;
    }
    
    .status-dropdown {
      padding: 5px;
      border-radius: 4px;
    }

